.section-about {
  background-color: $grey-light;
  padding: 30rem 0;
  margin-top: -40vh;
}

.section-UX {
  margin-top: -25rem;
  padding: 15rem 0 10rem 0;
  background-image: linear-gradient(
    to right bottom,  
    rgba($primary-light, 0.7),
    rgba($primary, 0.7)), 
    url(../images/background-2.png); /*first image is on top of second*/
  background-size: cover;
  background-position: bottom;
  
  -webkit-clip-path: polygon(0 16vh, 100% 0, 100% 100% , 0 100%); 
  clip-path: polygon(0 16vh, 100% 0, 100% 100% , 0 100%); 
}

@media only screen 
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) { 
  .section-about {
    margin-top: -15vh;
    padding: 35rem 0;
    padding-right: 5rem;
  }
  .section-UX {
    -webkit-clip-path: polygon(0 10vh, 100% 0, 100% 100% , 0 100%); 
    clip-path: polygon(0 10vh, 100% 0, 100% 100% , 0 100%);
  }
  .heading-primary {
    margin-bottom: 30rem;

    &--main {
      font-size: 8rem;
    }

    &--sub {
      font-size: 4rem;
      max-width: 70vw;
    }

  }
}
