.u-center-text { text-align: center; }

.u-margin-bottom-big { margin-bottom: 7rem; }
.u-margin-bottom-small { margin-bottom: 1.5rem; }
.u-margin-bottom-medium { margin-bottom: 4rem; }

.u-margin-top-small { margin-top: 1.5rem; }
.u-margin-top-medium { margin-top: 4rem; }
.u-margin-top-big {margin-top: 7rem};
.u-margin-top-huge {margin-top: 10rem};

.u-horizontal-divider {
  width: 90%;
  border-bottom: .1rem solid $grey-dark;
  margin-left: auto;
  margin-right: auto;

  &--red {
    width: 100%;
    border-bottom-color: $primary;
  }
}

.u-is-relative {
  position: relative;
}

.u-is-absolute {
  position: absolute;
}

.hr--dotted {
  border: 1px dashed $grey;
  margin: 1rem 0;
}

.hr--solid--red{
  border: .5px solid $primary;
}

@media only screen 
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) { 
    .u-margin-top-big {
      margin-top: 13rem;
    }
}