/* PALETTE */

/* HSL */
$color1: hsla(0%, 0%, 92%, 1);
$color2: hsla(354%, 68%, 41%, 1);
$color3: hsla(353%, 75%, 24%, 1);
$color4: hsla(348%, 87%, 12%, 1);
$color5: hsla(334%, 100%, 3%, 1);

/* APP COLORS */
$grey-light: #faf9f9;
$grey-light-2: #f4f2f2;
$grey-light-3: #f0eeee;
$grey-light-4: #ccc;
$grey: rgb(173, 173, 173);
$grey-dark-0: rgb(131, 131, 131);
$grey-dark: #777;
$grey-dark-2: #333;
$primary: #800080;
$primary-light: #be29ec;
$primary-light-1: #d896ff;
$primary-dark: #660066;
$white: #fff;
$almost-black: rgb(22, 22, 22);
$blue: rgb(0, 38, 255);
$black: #000;

// FONT SIZES
$default-font-size: 1.6rem;

$default-width: 114rem;
$width-smaller-1: 100rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;


$box-shadow: 0 2rem 6rem rgba(0, 0, 0, .3);