.header {
  height: 85vh; /*element should be 95% of the viewport height*/
  background-image: linear-gradient(
    to right bottom,  
    rgba($primary-light, .7),
    rgba($primary, .7)), 
    url('/images/background-header.png'); 
  background-size: cover; 
  background-position: bottom; 
  position: relative;

  -webkit-clip-path: polygon(0 0, 100% 0, 100% 70vh , 0 100%); 
  clip-path: polygon(0 0, 100% 0, 100% 70vh , 0 100%); 

  &__logo-box {
    position: absolute;
    top: 1rem; 
    left: 0.5rem;
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); 
    text-align: center;
  }
  
  &__logo {
    height: 7rem; 
  }
}

.nav-button {
  color: #d30015;
}

@media only screen 
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) { 
  
  .header {
    height: 100vh;
  }

  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90vh , 0 100%); 
    clip-path: polygon(0 0, 100% 0, 100% 90vh , 0 100%); 
  
    &__logo {
      height: 70%;
    }

  }
  
}